In [1]:
#SALES PREDICTION

In [2]:
#IMPORTING LIBRARIES

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
#LOADING THE DATASET

In [5]:
d=pd.read_csv('/content/Advertising task 5.csv')

In [6]:
d.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [7]:
d.tail()

     Unnamed: 0     TV  Radio  Newspaper  Sales
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

In [8]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  200 non-null    int64
 1   TV          200 non-null    float64
 2   Radio       200 non-null    float64
 3   Newspaper   200 non-null    float64
 4   Sales       200 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 7.9 KB

In [9]:
d.describe()

       Unnamed: 0          TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000

In [10]:
#PREPROCESSING THE DATA

In [11]:
from sklearn.preprocessing import StandardScaler

In [12]:
scaler = StandardScaler()
d[['TV','Radio','Newspaper']] = scaler.fit_transform(d[['TV','Radio','Newspaper']])

In [13]:
#SPLITTING INTO TRAIN AND TEST VARIABLES

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
SEED = 42

In [16]:
X = d.drop(['Sales'], axis=1)
y = d['Sales']

x_train, x_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=SEED)

In [17]:
#LINEAR REGESSION

In [18]:
from sklearn.linear_model import LinearRegression

In [19]:
lr = LinearRegression()
#fit
lr.fit(x_train,y_train)
y_pred = lr.predict(x_test)

In [20]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [21]:
print(mean_absolute_error(y_true=y_test, y_pred=y_pred))
print(mean_squared_error(y_true=y_test, y_pred=y_pred))

1.4650601050102914
3.1990044685888908

In [22]:
from sklearn.metrics import r2_score
d=r2_score(y_true=y_test, y_pred=y_pred)*100
print('THE ACCURACY IS :',d)

THE ACCURACY IS : 89.86489151417084